---
---

// Headers
$header-heading-color: #fff;
$header-bg-color: #5691c8;
$header-bg-color-secondary: #457fca;

// Text
$section-headings-color: #457fca;
$body-text-color: #606c71;
$body-link-color: #1e6bb8;
$blockquote-text-color: #819198;

@import "{{ site.theme }}";
