<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key>
  <string>com.juniandev.upsparkle.AvaloniaUIDemo</string>
  <key>CFBundleName</key>
  <string>UpSparkleDemo</string>
  <!--
  <key>CFBundleExecutable</key>
  <string>UpSparkleDemos.AvaloniaDemo</string>
  -->
  <key>CFBundleVersion</key>
  <string>1</string>
  <key>CFBundleShortVersionString</key>
  <string>0.0.1</string>

  <!-- Sparkle keys -->
  <key>SUFeedURL</key>
  <string>https://example.com/files/sparkletestcast.xml</string>
  <key>SUEnableAutomaticChecks</key>
  <true/>
  <key>SUPublicEDKey</key>
  <string>pfIShU4dEXqPd5ObYNfDBiQWcXozk7estwzTnF9BamQ=</string>
</dict>
</plist>